<%# This is the side nav bar where the logo is %>

<div class="sidenav">
  <div>
    <img src="https://res.cloudinary.com/vmontenegro7/image/upload/v1647268322/Perfect%20Present/perfect_present_-_login_page_logo_-_2_wzj283.png" alt="Perfect Present Logo">
  </div>
</div>
<div class="container">
  <div class="form">
    <div class="credential-header-position">
      <h2 class="credential-header">Sign up</h2>
    </div>



      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" }, :placeholder => 'user@domain.com'%>
          <%= f.input :password,
                      required: true,
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password" }, :placeholder => 'Enter your password' %>
          <%= f.input :password_confirmation,
                      required: true,
                      input_html: { autocomplete: "new-password" }, :placeholder => 'Confirm your password' %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Sign up", class: 'button-sign-up' %>
          <%= button_to "Log in", user_session_path, class: 'button-sign-in'  %>
        </div>
      <% end %>

      <br>

    </div>
</div>
