<div class="container user-form">
  <img class="row-cols-lg-auto g-3 align-items-center form-title" src="https://res.cloudinary.com/vmontenegro7/image/upload/v1647358277/Perfect%20Present/perfect_present_zivhxr.png" alt="Perfect Present">
  <p class="p-user-form">Welcome! Please fill the form below to help you pick the<strong> PUUURRRFECT PRESENT 🐈</strong></p>
  <div class="row-cols-lg-auto g-3 align-items-center">
    <form class="row-cols-lg-auto g-3 align-items-center" action="/pages">

      <%= form_with url: pages_path, local: true, method: :get do %>
        <div>
          <%= select_tag "price_range",
          options_for_select(["R$ 0 - 100", "R$ 100 - 300", "R$ 300 - 500", "R$ 500+"]),
          prompt: "What's your budget?", class: 'form-select form-body', required: 'required'%>
        </div>

        <div>
          <%= select_tag "hobby", options_for_select(["collectables", "DIY", "Fitness", "Social Media", "Self-care", "It's a baby", "Playing with friends", "Fashion", "Going out", "Outdoor activities", "Throwing parties", "Having people over", "Homebody", "Cooking", "Binge watching", "Geek"]),
          prompt: "What's their Hobby?", class: 'form-select form-body', required: 'required'%>
        </div>

        <div>
          <%= select_tag "age_range",
          options_for_select(["Baby","Children","Teenager","Adult","Elderly"]),
          prompt: "What's their age?", class: 'form-select form-body', required: 'required'%>
        </div>

        <div class="col-12 mx-center">
          <%= submit_tag ("Submit"), id:"Form-submit-button", class:"btn btn-light button"%>
        </div>
      <% end %>
    </form>
  </div>
</div>
