<%
require "json"
require "open-uri"
url = "https://testimonialapi.toolcarton.com/api"
users_serialized = URI.open(url).read
users = JSON.parse(users_serialized)
%>
<div class="container">


<%users.each do |user|%>
<div class="container testimonial_container inline-flex items-center flex flex-wrap">
  <div class="cards testimonial_cards">
    <i class="fa-solid fa-quote-right fa-3x"></i>
    <p><%=user["message"]%></p>
    <div>
      <img src=<%=user["avatar"]%> id="testimonial_avatar" class="flex-shrink-0 object-center object-cover" alt=<%=user["name"]%>>

      <span class="flex-grow flex flex-col pl-4">
        <span>
          <h4>
            <strong><%=user["name"]%></strong>
          </h4>
        </span>
        <span>
         <%=user["designation"]%>
        </span>
      </span>

    </div>

  </div>
</div>
<%end%>

</div>
