<div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-4 mb-5">


    <% @my_wishlist_items_final.each do |wishlist_item_display| %>
    <div class="col mx-auto">

      <div class="card h-auto w-auto">
       <h5 class="card-title"><%= wishlist_item_display["title"] %></h5>
        <img src="<%=wishlist_item_display["pictures"][0]["secure_url"]%>" alt="" class="card-img-top" style="width:60%; height:40%">
        <p class="card-text fs-4">
          R$ <%= wishlist_item_display["price"] %>
        </p>
          <%= link_to "Purchase", wishlist_item_display["permalink"], target: :_blank, class: 'btn btn-outline-danger mb-3', id:'purchase-button' %>
          <%= link_to "Remove From Wishlist", wishlist_path(id: [user_id: current_user.id, api_id: wishlist_item_display["id"]]), class: 'btn btn-outline-danger', method: :delete %>
      </div>

    </div>
      <% end %>
  </div>
    <%= link_to "Go back to categories", pages_path, class: 'btn btn-primary m-2 p-3'%>
</div>
