<!DOCTYPE html>
<html>
  <head>
    <title>PerfectPresent</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

    <link rel="shortcut icon" type="image/x-icon" href="https://res.cloudinary.com/vmontenegro7/image/upload/v1647033402/Perfect%20Present/Perfect_Present_-_Navbar_Logo_-bg_txt_T.1_mntu2h.png"/>
  </head>

  <body>
  <div class="page-container">
      <%= render "shared/navbar" if controller_name == 'pages' || controller_name == 'presents' || controller_name == 'wishlists'%>
      <main id="main-content">
        <%= yield %>
      </main>
      <%= render "shared/homepage_form" if user_signed_in? && controller_name == 'pages' && action_name == 'home' %>
      <%= render "shared/testimonial" if user_signed_in? == false && controller_name == 'pages' && action_name == 'home' %>
      <%= render "shared/footer" if controller_name == 'pages' || controller_name == 'presents' || controller_name == 'wishlists'%>
    </div>
  </body>
</html>
